<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
  <section class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center my-3">Login</h1>
      </div>
      <div class="col-12 col-md-6 offset-md-3">
        <form class="rounded border border-dark p-5 form-product">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input name="name" type="text" class="form-control" id="name" >
          </div>
            <button type="button" id="btn-login" class="btn btn-primary">Iniciar Sesión</button>
          </div>
        </form>
      </div>
    </div>

 <script type="text/javascript" src="/socket.io/socket.io.js"></script>
 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
  <script src="../js/login.js"></script>
</body>
</html>